<class ="container">
    <% @posts.each do |o| %>
        <p><a href="/home/read/<%=o.id%>">제목 : <%=o.title%></a></p>
    <% end %>


    <a href="/home/create"> 새 글쓰기</a>

<table>
  <caption><span><게시판></게시판></span></caption>
  <tr class="aa">
    <th><span>번호</span></th>
    <th><span>제목</span></th>
    <th><span>내용</span></th>
    <th><span>시간</span></th>

  </tr>


</div>